{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 220,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "parser": "typescript"
  }