@import '@/styles/App.scss';

.searchBox {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 5px;
    padding: 5px;

    &__container {
        display: flex;
        align-items: center;
        width: 400px;
        padding: 2px 4px;

        @media screen and (max-width: $mobile-screen) {
            width: 100%;
        }
    }

    &__input {
        flex: 1;
        margin-left: 5px;
    }

    &__button {
        padding: 10px !important;
    }

    &__divider {
        height: 28px !important;
        margin: 1px !important;
    }
}