.file-upload{
    flex: 1;
    height: 100%;
    background-color: white;
    outline: dashed 2px gray;
    outline-offset: -3px;
    padding: 15px;

    &-text {    
        font-size: 16px;
        font-weight: 400;

        line-height: 18px;
        color: #757575;
    }

    &-files {
        font-size: 16px;
        font-weight: 400;

        line-height: 18px;
        color: #009aff;
    }
    
    &-img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }
    
    &-ref {
        color: #009aff;
        cursor: pointer;
        margin-left: 5px;

        &-input {
            display: none;
        }
    } 
}