$side: 96px;

.file-upload{
    &-btn {
        height: $side;
        width: $side;
        border: rgb(228, 228, 228) solid !important;
        border-radius: 10% !important;
        border-width: 1px !important;
    }

    &-img {
        height: $side;
        width: $side;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
}