%button {
  cursor: pointer;
  border: none;
  list-style: none;
  outline: none;
}

%text {

}

%list {
  border: none;
  outline: none;
}

%input {
  @extend %lightShadow;
  outline: none;
  border: none;
}

%image {

}

%shadow {
  box-shadow: 6px 4px 22px rgba(0, 0, 0, 0.25);
}

%lightShadow {
  box-shadow: 0 3px 7px 0 #dfdfdf;
}

