$side: 96px;

.fileUpload {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__container {
        display: flex;
    }

    &__files {
        display: flex;
    }

    &__add {
        height: $side;
        width: $side;
        border: rgb(228, 228, 228) solid !important;
        border-radius: 10% !important;
        border-width: 1px !important;
    }

    &__img {
        height: $side;
        width: $side;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
        object-fit: cover;
    }

    &__submit {
        display: flex;
        justify-content: center;
        margin: 15px 0 10px 0 !important;
    }
}