DB_URL=mongodb+srv://{username}:{password}@cluster0.6n1ct.mongodb.net/{cluster_name}?retryWrites=true&w=majority
PORT=3001
CLIENT_ID=// google OAuth token
DOMAIN=http://localhost:3001
JWT_SECRET=
DROPBOX_TOKEN=// dropbox token with file read\write permission