$box-corner: 25px;

.previewMapBox {
    z-index: 2;
    position: absolute;
    border-radius: $box-corner  !important;
    bottom: 25px;
    left: 15px;
    width: 80px;
    height: 80px;
    border: #fff solid 2px;


    &__map {
        border-radius: $box-corner;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

        .mapboxgl-control-container {
            display: none !important;
        }
    }

    &__label {
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fff;
        bottom: 0;
    }

    &__cover {
        z-index: 2;
        position: absolute;
        top: 0;
        border-radius: $box-corner;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba($color: #000000, $alpha: 0.2) !important;
    }

    &__plate {
        z-index: 4;
        position: absolute;
        top: 0;
        border-radius: $box-corner;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__deck {
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fff;
        top: 0;
    }
}

