@import "~@/styles/base.scss";

.submitBtn {
  @extend %button;
  @extend %shadow;
  height: 40px;
  width: 120px;
  background: #26bae8;
  color: #fff;
  border-radius: 12px;
}

.closeBtn, %closeBtn {
  @extend %button;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 24px;
  display: inline-block;
  background-size: 24px;
  background-image: url(https://fonts.gstatic.com/s/i/googlematerialicons/clear/v9/gm_grey-24dp/1x/gm_clear_gm_grey_24dp.png);
  overflow: visible;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.field, %field {
  width: 100%;
  margin: 15px;

  h4 {
    color: #1c1a1a;
    width: 100%;
  }

  input {
    @extend %input;
    box-sizing: border-box; // нужно т.к width 100% не учитывает padding, что делает инпут слишком широким
    width: 100%;
    max-width: 100%;
    margin: 7px 0 7px 0;
    padding: 12px;
    border-radius: 12px;
  }
}