@import "~@/styles/base.scss";

%tab {
  @extend %shadow;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 97%;
  background: #eeeeee;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border: #b6b6b6 solid 1px;
  border-radius: 12px;

  &__frame {
    border-radius: 10px;
    width: auto;
    padding: 8px 20px 8px 20px;
    margin: 8px 20px 8px 20px;
    color: gray;
  }

  &__selected {
    @extend %shadow;
    background: #fff;
    color: black;
  }

  &__list {
    @extend %list;
    box-sizing: border-box;
    width: 100%;
    margin: 7px 0 7px 0;
    padding: 12px;
    border-radius: 12px;
  }
}