@import "~@/styles/base.scss";

$tab-width: 320px;

%tab {
  @extend %shadow;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: $tab-width;
  height: 97%;
  background: #fff;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}