$box-corner: 25px;
$mobile-screen: 700px;

.previewMapBox {
    z-index: 2;
    position: absolute;
    border-radius: $box-corner !important;
    bottom: 25px;
    left: 15px;
    width: 80px;
    height: 80px;
    border: #fff solid 2px;


    &__map{
        border-radius: $box-corner;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
    
        .mapboxgl-control-container{
            display: none !important;
        }
    }

    &__label {
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fff;
        bottom: 0;
     
    }

    &__cover {
        z-index: 2;
        position: absolute;
        top: 0;
        border-radius: $box-corner;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: rgba($color: #000000, $alpha: 0.2) !important;
    }

    &__plate {
        z-index: 4;
        position: absolute;
        top: 0;
        border-radius: $box-corner;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.accountBox {
    z-index: 1;
    position: absolute;
    right: 15px;
    top: 10px;
    width: auto;
    height: auto;

    @media screen and (max-width: $mobile-screen) {
        display: none;
    }
}

.editorBox {
    border-radius: $box-corner !important;
    z-index: 1;
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 180px;
}

.editorCtrlBox {
    border-radius: $box-corner !important;
    z-index: 1;
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 370px;
  }

.editorBtn {
}

%circleBox {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px !important;
}

.toolBox {
    &__compass {
        @extend %circleBox;
        left: 125px;
        bottom: 25px;
    }

    &__fullscreen {
        @extend %circleBox;
        left: 115px;
        bottom: 80px;
    }

    &__ruler {
        @extend %circleBox;
        left: 75px;
        bottom: 125px;
    }

    &__geolocation {
        @extend %circleBox;
        left: 15px;
        bottom: 135px;
    }
}

.searchBox {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 5px;
    padding: 5px;

    &__paper {
        width: 400px;

        @media screen and (max-width: $mobile-screen) {
            width: 100%;
        }
    }
}

.usersBox {
    z-index: 1;
    position: absolute;
    display: flex;
    top: 68px;
    left: 15px;
    width: 250px;
    max-height: 500px;
}

.categories {
    &__box{
        
    }
}

.mapboxgl-ctrl-top-right {
    display: none !important;
}